fastapi~=0.65.2
fireo~=1.4.1
google-cloud-bigquery~=2.20.0
google-cloud-storage~=1.42.2
python-multipart~=0.0.5
uvicorn~=0.14.0
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability